In [240]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [241]:
df_data=pd.read_csv('data.csv',index_col=0)   # 将之前的csv改成 csv utf-8读取，不然报错

In [242]:
df_data.head()

,custid,trade_no,bank_card_no,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
5,2791858,20180507115231274000000023057383,卡号1,0.01,0.99,0,0.90,0.55,0.313,17.0,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
10,534047,20180507121002192000000023073000,卡号1,0.02,0.94,2000,1.28,1.00,0.458,19.0,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
12,2849787,20180507125159718000000023114911,卡号1,0.04,0.96,0,1.00,1.00,0.114,13.0,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
13,1809708,20180507121358683000000388283484,卡号1,0.00,0.96,2000,0.13,0.57,0.777,22.0,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
14,2499829,20180507115448545000000388205844,卡号1,0.01,0.99,0,0.46,1.00,0.175,13.0,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

In [243]:
df_data.shape  #有4754个样本，89个特征

(4754, 89)

# 1.对数据类型进行分析

In [244]:
# 查看object，int,float 类型有哪些，后期需要做处理
def find_type(df_data):
    object_columns=[]
    for i in df_data.columns:
        if str(df_data[i].dtypes)=='object':
            object_columns.append(i)

    int_columns=[]
    for i in df_data.columns:
        if str(df_data[i].dtypes)=='int64':
            int_columns.append(i)

    float_columns=[]
    for i in df_data.columns:
        if str(df_data[i].dtypes)=='float64':
            float_columns.append(i)

    print(object_columns)   
    print('-----------')
    print(int_columns)
    print('-----------')
    print(float_columns)
    return object_columns,int_columns,float_columns
object_columns,int_columns,float_columns=find_type(df_data)

['trade_no', 'bank_card_no', 'reg_preference_for_trad', 'source', 'id_name', 'latest_query_time', 'loans_latest_time']
-----------
['custid', 'take_amount_in_later_12_month_highest', 'repayment_capability', 'is_high_user', 'historical_trans_amount', 'trans_amount_3_month', 'abs', 'avg_price_last_12_month', 'max_cumulative_consume_later_1_month', 'pawns_auctions_trusts_consume_last_1_month', 'pawns_auctions_trusts_consume_last_6_month', 'status']
-----------
['low_volume_percent', 'middle_volume_percent', 'trans_amount_increase_rate_lately', 'trans_activity_month', 'trans_activity_day', 'transd_mcc', 'trans_days_interval_filter', 'trans_days_interval', 'regional_mobility', 'student_feature', 'number_of_trans_from_2011', 'first_transaction_time', 'historical_trans_day', 'rank_trad_1_month', 'avg_consume_less_12_valid_month', 'top_trans_count_last_1_month', 'avg_price_top_last_12_valid_month', 'trans_top_time_last_1_month', 'trans_top_time_last_6_month', 'consume_top_time_last_1_month', 'consume_top_time_last_6_month', 'cross_consume_count_last_1_month', 'trans_fail_top_count_enum_last_1_month', 'trans_fail_top_count_enum_last_6_month', 'trans_fail_top_count_enum_last_12_month', 'consume_mini_time_last_1_month', 'max_consume_count_later_6_month', 'railway_consume_count_last_12_month', 'jewelry_consume_count_last_6_month', 'first_transaction_day', 'trans_day_last_12_month', 'apply_score', 'apply_credibility', 'query_org_count', 'query_finance_count', 'query_cash_count', 'query_sum_count', 'latest_one_month_apply', 'latest_three_month_apply', 'latest_six_month_apply', 'loans_score', 'loans_credibility_behavior', 'loans_count', 'loans_settle_count', 'loans_overdue_count', 'loans_org_count_behavior', 'consfin_org_count_behavior', 'loans_cash_count', 'latest_one_month_loan', 'latest_three_month_loan', 'latest_six_month_loan', 'history_suc_fee', 'history_fail_fee', 'latest_one_month_suc', 'latest_one_month_fail', 'loans_long_time', 'loans_credit_limit', 'loans_credibility_limit', 'loans_org_count_current', 'loans_product_count', 'loans_max_limit', 'loans_avg_limit', 'consfin_credit_limit', 'consfin_credibility', 'consfin_org_count_current', 'consfin_product_count', 'consfin_max_limit', 'consfin_avg_limit', 'latest_query_day', 'loans_latest_day']

In [245]:
cancel_columns=[]  # 创建list 存储 需要删除的列

In [246]:
df_data[object_columns].head()  #查看object 类型大概样子

,trade_no,bank_card_no,reg_preference_for_trad,source,id_name,latest_query_time,loans_latest_time
5,20180507115231274000000023057383,卡号1,一线城市,xs,蒋红,2018-04-25,2018-04-19
10,20180507121002192000000023073000,卡号1,一线城市,xs,崔向朝,2018-05-03,2018-05-05
12,20180507125159718000000023114911,卡号1,一线城市,xs,王中云,2018-05-05,2018-05-01
13,20180507121358683000000388283484,卡号1,三线城市,xs,何洋洋,2018-05-05,2018-05-03
14,20180507115448545000000388205844,卡号1,一线城市,xs,赵洋,2018-04-15,2018-01-07

In [247]:
df_data['trade_no'].value_counts().count()  # 应该删除该列，没有任何意义

4754

In [248]:
cancel_columns.append('trade_no')

In [249]:
df_data['bank_card_no'].value_counts()  # 应该删除该列，没有任何意义

卡号1    4754
Name: bank_card_no, dtype: int64

In [250]:
cancel_columns.append('bank_card_no')

In [251]:
df_data['reg_preference_for_trad'].value_counts()

一线城市    3403
三线城市    1064
境外       150
二线城市     131
其他城市       4
Name: reg_preference_for_trad, dtype: int64

In [252]:
df_data['source'].value_counts() # 应该删除该列，都一样

xs    4754
Name: source, dtype: int64

In [253]:
cancel_columns.append('source')
cancel_columns.append('id_name')

In [254]:
df_data[int_columns].head()

,custid,take_amount_in_later_12_month_highest,repayment_capability,is_high_user,historical_trans_amount,trans_amount_3_month,abs,avg_price_last_12_month,max_cumulative_consume_later_1_month,pawns_auctions_trusts_consume_last_1_month,pawns_auctions_trusts_consume_last_6_month,status
5,2791858,0,19890,0,149050,34030,3920,1020,2170,1970,18040,1
10,534047,2000,16970,0,302910,10590,6950,1210,2100,1820,15680,0
12,2849787,0,9710,0,11520,5710,840,570,0,0,0,1
13,1809708,2000,6210,0,491130,91690,46850,1290,8140,2700,27970,0
14,2499829,0,11150,0,61470,9770,760,1110,1000,0,6410,1

In [255]:
cancel_columns.append('custid')

In [256]:
df_data[float_columns].head()

,low_volume_percent,middle_volume_percent,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,trans_days_interval_filter,trans_days_interval,regional_mobility,student_feature,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
5,0.01,0.99,0.90,0.55,0.313,17.0,27.0,26.0,3.0,NaN,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
10,0.02,0.94,1.28,1.00,0.458,19.0,30.0,14.0,4.0,1.0,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
12,0.04,0.96,1.00,1.00,0.114,13.0,68.0,22.0,1.0,NaN,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
13,0.00,0.96,0.13,0.57,0.777,22.0,14.0,6.0,3.0,NaN,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
14,0.01,0.99,0.46,1.00,0.175,13.0,66.0,42.0,1.0,NaN,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

# 2.删除无关的列

In [257]:
cancel_columns

['trade_no', 'bank_card_no', 'source', 'id_name', 'custid']

In [258]:
df=df_data
df=df.drop(cancel_columns,axis=1)

In [259]:
df.head()

,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,trans_days_interval_filter,trans_days_interval,regional_mobility,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
5,0.01,0.99,0,0.90,0.55,0.313,17.0,27.0,26.0,3.0,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
10,0.02,0.94,2000,1.28,1.00,0.458,19.0,30.0,14.0,4.0,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
12,0.04,0.96,0,1.00,1.00,0.114,13.0,68.0,22.0,1.0,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
13,0.00,0.96,2000,0.13,0.57,0.777,22.0,14.0,6.0,3.0,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
14,0.01,0.99,0,0.46,1.00,0.175,13.0,66.0,42.0,1.0,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

# 3.数据类型转换+填补缺失值

In [260]:
object_columns,int_columns,float_columns=find_type(df)

['reg_preference_for_trad', 'latest_query_time', 'loans_latest_time']
-----------
['take_amount_in_later_12_month_highest', 'repayment_capability', 'is_high_user', 'historical_trans_amount', 'trans_amount_3_month', 'abs', 'avg_price_last_12_month', 'max_cumulative_consume_later_1_month', 'pawns_auctions_trusts_consume_last_1_month', 'pawns_auctions_trusts_consume_last_6_month', 'status']
-----------
['low_volume_percent', 'middle_volume_percent', 'trans_amount_increase_rate_lately', 'trans_activity_month', 'trans_activity_day', 'transd_mcc', 'trans_days_interval_filter', 'trans_days_interval', 'regional_mobility', 'student_feature', 'number_of_trans_from_2011', 'first_transaction_time', 'historical_trans_day', 'rank_trad_1_month', 'avg_consume_less_12_valid_month', 'top_trans_count_last_1_month', 'avg_price_top_last_12_valid_month', 'trans_top_time_last_1_month', 'trans_top_time_last_6_month', 'consume_top_time_last_1_month', 'consume_top_time_last_6_month', 'cross_consume_count_last_1_month', 'trans_fail_top_count_enum_last_1_month', 'trans_fail_top_count_enum_last_6_month', 'trans_fail_top_count_enum_last_12_month', 'consume_mini_time_last_1_month', 'max_consume_count_later_6_month', 'railway_consume_count_last_12_month', 'jewelry_consume_count_last_6_month', 'first_transaction_day', 'trans_day_last_12_month', 'apply_score', 'apply_credibility', 'query_org_count', 'query_finance_count', 'query_cash_count', 'query_sum_count', 'latest_one_month_apply', 'latest_three_month_apply', 'latest_six_month_apply', 'loans_score', 'loans_credibility_behavior', 'loans_count', 'loans_settle_count', 'loans_overdue_count', 'loans_org_count_behavior', 'consfin_org_count_behavior', 'loans_cash_count', 'latest_one_month_loan', 'latest_three_month_loan', 'latest_six_month_loan', 'history_suc_fee', 'history_fail_fee', 'latest_one_month_suc', 'latest_one_month_fail', 'loans_long_time', 'loans_credit_limit', 'loans_credibility_limit', 'loans_org_count_current', 'loans_product_count', 'loans_max_limit', 'loans_avg_limit', 'consfin_credit_limit', 'consfin_credibility', 'consfin_org_count_current', 'consfin_product_count', 'consfin_max_limit', 'consfin_avg_limit', 'latest_query_day', 'loans_latest_day']

In [261]:
df[object_columns].head()

   reg_preference_for_trad latest_query_time loans_latest_time
5                     一线城市        2018-04-25        2018-04-19
10                    一线城市        2018-05-03        2018-05-05
12                    一线城市        2018-05-05        2018-05-01
13                    三线城市        2018-05-05        2018-05-03
14                    一线城市        2018-04-15        2018-01-07

In [262]:
df[object_columns].isnull().sum()

reg_preference_for_trad      2
latest_query_time          304
loans_latest_time          297
dtype: int64

In [263]:
df['reg_preference_for_trad'].value_counts()

一线城市    3403
三线城市    1064
境外       150
二线城市     131
其他城市       4
Name: reg_preference_for_trad, dtype: int64

In [264]:
df['reg_preference_for_trad']=df['reg_preference_for_trad'].fillna('其他城市')  #用其他城市代替缺失值

In [265]:
# 时间序列不知道如何处理并且填补缺失值

In [266]:
#对 reg_preference_for_trad 做 one_hot_encoder
df=pd.get_dummies(df,columns=['reg_preference_for_trad'])

In [267]:
object_columns,int_columns,float_columns=find_type(df)

['latest_query_time', 'loans_latest_time']
-----------
['take_amount_in_later_12_month_highest', 'repayment_capability', 'is_high_user', 'historical_trans_amount', 'trans_amount_3_month', 'abs', 'avg_price_last_12_month', 'max_cumulative_consume_later_1_month', 'pawns_auctions_trusts_consume_last_1_month', 'pawns_auctions_trusts_consume_last_6_month', 'status']
-----------
['low_volume_percent', 'middle_volume_percent', 'trans_amount_increase_rate_lately', 'trans_activity_month', 'trans_activity_day', 'transd_mcc', 'trans_days_interval_filter', 'trans_days_interval', 'regional_mobility', 'student_feature', 'number_of_trans_from_2011', 'first_transaction_time', 'historical_trans_day', 'rank_trad_1_month', 'avg_consume_less_12_valid_month', 'top_trans_count_last_1_month', 'avg_price_top_last_12_valid_month', 'trans_top_time_last_1_month', 'trans_top_time_last_6_month', 'consume_top_time_last_1_month', 'consume_top_time_last_6_month', 'cross_consume_count_last_1_month', 'trans_fail_top_count_enum_last_1_month', 'trans_fail_top_count_enum_last_6_month', 'trans_fail_top_count_enum_last_12_month', 'consume_mini_time_last_1_month', 'max_consume_count_later_6_month', 'railway_consume_count_last_12_month', 'jewelry_consume_count_last_6_month', 'first_transaction_day', 'trans_day_last_12_month', 'apply_score', 'apply_credibility', 'query_org_count', 'query_finance_count', 'query_cash_count', 'query_sum_count', 'latest_one_month_apply', 'latest_three_month_apply', 'latest_six_month_apply', 'loans_score', 'loans_credibility_behavior', 'loans_count', 'loans_settle_count', 'loans_overdue_count', 'loans_org_count_behavior', 'consfin_org_count_behavior', 'loans_cash_count', 'latest_one_month_loan', 'latest_three_month_loan', 'latest_six_month_loan', 'history_suc_fee', 'history_fail_fee', 'latest_one_month_suc', 'latest_one_month_fail', 'loans_long_time', 'loans_credit_limit', 'loans_credibility_limit', 'loans_org_count_current', 'loans_product_count', 'loans_max_limit', 'loans_avg_limit', 'consfin_credit_limit', 'consfin_credibility', 'consfin_org_count_current', 'consfin_product_count', 'consfin_max_limit', 'consfin_avg_limit', 'latest_query_day', 'loans_latest_day']

In [268]:
df.head()

,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,trans_days_interval_filter,trans_days_interval,regional_mobility,...,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day,reg_preference_for_trad_一线城市,reg_preference_for_trad_三线城市,reg_preference_for_trad_二线城市,reg_preference_for_trad_其他城市,reg_preference_for_trad_境外
5,0.01,0.99,0,0.90,0.55,0.313,17.0,27.0,26.0,3.0,...,2.0,1200.0,1200.0,12.0,18.0,1,0,0,0,0
10,0.02,0.94,2000,1.28,1.00,0.458,19.0,30.0,14.0,4.0,...,6.0,22800.0,9360.0,4.0,2.0,1,0,0,0,0
12,0.04,0.96,0,1.00,1.00,0.114,13.0,68.0,22.0,1.0,...,1.0,4200.0,4200.0,2.0,6.0,1,0,0,0,0
13,0.00,0.96,2000,0.13,0.57,0.777,22.0,14.0,6.0,3.0,...,5.0,30000.0,12180.0,2.0,4.0,0,1,0,0,0
14,0.01,0.99,0,0.46,1.00,0.175,13.0,66.0,42.0,1.0,...,2.0,8400.0,8250.0,22.0,120.0,1,0,0,0,0

In [269]:
df[int_columns].head()

,take_amount_in_later_12_month_highest,repayment_capability,is_high_user,historical_trans_amount,trans_amount_3_month,abs,avg_price_last_12_month,max_cumulative_consume_later_1_month,pawns_auctions_trusts_consume_last_1_month,pawns_auctions_trusts_consume_last_6_month,status
5,0,19890,0,149050,34030,3920,1020,2170,1970,18040,1
10,2000,16970,0,302910,10590,6950,1210,2100,1820,15680,0
12,0,9710,0,11520,5710,840,570,0,0,0,1
13,2000,6210,0,491130,91690,46850,1290,8140,2700,27970,0
14,0,11150,0,61470,9770,760,1110,1000,0,6410,1

In [270]:
df[int_columns].isnull().sum()  # int类型没有缺失值

take_amount_in_later_12_month_highest         0
repayment_capability                          0
is_high_user                                  0
historical_trans_amount                       0
trans_amount_3_month                          0
abs                                           0
avg_price_last_12_month                       0
max_cumulative_consume_later_1_month          0
pawns_auctions_trusts_consume_last_1_month    0
pawns_auctions_trusts_consume_last_6_month    0
status                                        0
dtype: int64

In [271]:
df.isnull().sum().sort_values(ascending=False)[:10]

student_feature                     2998
cross_consume_count_last_1_month     426
apply_credibility                    304
query_cash_count                     304
latest_six_month_apply               304
latest_one_month_apply               304
latest_query_time                    304
query_sum_count                      304
latest_three_month_apply             304
query_finance_count                  304
dtype: int64

In [272]:
df['student_feature'].value_counts()

1.0    1754
2.0       2
Name: student_feature, dtype: int64

In [273]:
df['student_feature'].fillna(0,inplace=True)  #用0填充

In [274]:
# 对于float类型的特征，填补缺失值
for i in float_columns:
    df[i].fillna(df[i].median(),inplace=True)

# 划分训练集+测试集

In [275]:
from sklearn.model_selection import train_test_split
df_train,df_test = train_test_split(df,test_size = 0.3,random_state = 2018)
df_train.to_csv('df_train.csv')
df_test.to_csv('df_test.csv')

问题：
1.时间序列如何处理以及填补
2.特征缺失多少应该删掉这个特征